<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo List</title>
    <script src="https://kit.fontawesome.com/443329fae6.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">    
</head>
<body>
    <div class="header">

        <h1>ToDo List</h1>
        <div class="buttonsContainer">
            <form action="/" method="post">
                <button class="button-46" type="submit">🏠 Home</button>
            </form>
            <form action="/work" method="post">
                <button class="button-46" type="submit">🏢 Work</button>
            </form>
        </div>
    </div>
    <main class="container">            
        <div class="topPortion">
            <div class="topGridContainer">
                <h2><%=locals.day%>, <span class="light-date"><%=locals.date%>th</span></h2>
                <p class="topContainerParagraph" id="taskNumbers"><b><%=locals.numberOfTasks%></b> Tasks</p>
                <p class="topContainerParagraph"><%=locals.month%></p>
            </div>
            <hr>
            
